<nav class="bg-primary-red text-white">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a [routerLink]="['']" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="assets/logo.png" class="h-8" alt="Logo" />
      <span class="self-center text-2xl font-semibold whitespace-nowrap">{{UI_TEXTS.APP_TITLE}}</span>
    </a>
    <div class="hidden w-full md:block md:w-auto" >
      <div class="flex flex-col font-medium p-4 md:p-0 mt-4 rounded-lg md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0">
          <a [routerLink]="['']" class="block py-2 px-3 text-white rounded md:bg-transparent md:p-0" aria-current="page">{{UI_TEXTS.WEIGHT}}</a>

          <a [routerLink]="['']" class="block py-2 px-3 rounded md:hover:bg-transparent md:border-0 md:p-0">{{ UI_TEXTS.ROUTINES }}</a>
          <a [routerLink]="[APP_ROUTES.bmiCalculator]" class="block py-2 px-3 rounded md:hover:bg-transparent md:border-0 md:p-0">{{UI_TEXTS.BMI}}</a>
        @if(authService.isLoggedIn())  {
          <a [routerLink]="[APP_ROUTES.preferences]" class="block py-2 px-3 rounded md:hover:bg-transparent md:border-0 md:p-0">{{UI_TEXTS.PREFERENCES}}</a>
        }
        @if(authService.isLoggedIn())  {
          <a [routerLink]="['']" (click)="logout()" class="block py-2 px-3 rounded md:hover:bg-transparent md:border-0 md:p-0">
            {{UI_TEXTS.LOGOUT}}
          </a>
        } @else {
          <a [routerLink]="[APP_ROUTES.login]" class="block py-2 px-3 rounded md:hover:bg-transparent md:border-0 md:p-0">
            {{UI_TEXTS.LOGIN}}
          </a>
        }
      </div>
    </div>
  </div>
</nav>
