<ul role="list" class="basis-1/2 divide-y divide-gray-100 ">
  @if(!nutritionPlans || nutritionPlans.length == 0 ){
    <div class="text-neutral-600">No nutrition plans added yet!</div>
  }
  @else {
    @for(nutritionPlan of nutritionPlans ;track nutritionPlan?.id){
      <li>
        <a [routerLink]="[nutritionPlan?.id]">
          <app-nutrition-item [nutritionPlan]="nutritionPlan"></app-nutrition-item>
        </a>
      </li>
    }
  }
</ul>
<app-paginator  [visiblePages]="visiblePages()" [totalPages]="totalPages"></app-paginator>


